<manifest package="com.guess.license.plate"
    android:versionCode="4"
    android:versionName="1.3" xmlns:android="http://schemas.android.com/apk/res/android">
 
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true" 
        android:theme="@style/GuessLicensePlateTheme" 
        android:label="Guess Licese Plate" 
        android:icon="@drawable/ic_launcher" android:logo="@drawable/logo">
        
        <!--  <meta-data android:name="com.google.android.gms.version"
               android:value="@integer/google_play_services_version"/> -->
        
        <activity
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:name=".SplashActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.inmobi.androidsdk.IMBrowserActivity"
    		android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
    		android:hardwareAccelerated="true" />
        
        <activity
            android:name=".MainActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait" />        
        <activity
            android:name=".StartActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListPlateActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainListActivity" />
        <activity
            android:name=".GameActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".ScoreActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BestScoreActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ReviewActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ScoreActivity" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
         <activity
            android:name=".SettingFragment"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainListActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />        
        <activity
            android:name=".MainStatisticsActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".BestScoreActivity" />
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainStatisticsActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainStatisticsActivity" />
       
        
         <activity android:name="com.google.android.gms.ads.AdActivity"
             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
               
    </application>
</manifest>