<manifest package="com.guess.license.plate.release"
    android:versionCode="5"
    android:versionName="1.8" xmlns:android="http://schemas.android.com/apk/res/android">
 
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="26"  />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application         
        android:theme="@style/GuessLicensePlateTheme" 
        android:label="Guess Licese Plate" 
        android:icon="@drawable/ic_launcher" android:logo="@drawable/logo" android:allowTaskReparenting="false" android:debuggable="false">
        
        <activity
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:name="com.guess.license.plate.Activity.SplashActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        <activity
            android:name="com.guess.license.plate.Activity.MainActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait" />        
        <activity
            android:name="com.guess.license.plate.Activity.StartActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.guess.license.plate.Activity.MainActivity" />
        <activity
            android:name="com.guess.license.plate.Activity.ListPlateActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.guess.license.plate.Activity.MainListActivity" />
        <activity
            android:name="com.guess.license.plate.Activity.GameActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.guess.license.plate.Activity.StartActivity" />
        <activity
            android:name="com.guess.license.plate.Activity.ScoreActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.guess.license.plate.Activity.MainActivity" />
        <activity
            android:name="com.guess.license.plate.Activity.BestScoreActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.guess.license.plate.Activity.MainActivity" />
        <activity
            android:name="com.guess.license.plate.Activity.ReviewActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.guess.license.plate.Activity.ScoreActivity" />
        <activity
            android:name="com.guess.license.plate.Activity.SettingActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.guess.license.plate.Activity.MainActivity" />
         <activity
            android:name="com.guess.license.plate.Fragment.SettingFragment"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.guess.license.plate.Activity.MainActivity" />
        <activity
            android:name="com.guess.license.plate.Activity.MainListActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.guess.license.plate.Activity.MainActivity" />        
        <activity
            android:name="com.guess.license.plate.Activity.MainStatisticsActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.guess.license.plate.Activity.BestScoreActivity" />
        <activity
            android:name="com.guess.license.plate.Activity.StatisticsActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.guess.license.plate.Activity.MainStatisticsActivity" />
        <activity
            android:name="com.guess.license.plate.Activity.AboutActivity"
            android:label="@string/main_Activity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.guess.license.plate.Activity.MainStatisticsActivity" />
               
    </application>
</manifest>